{{- if .Values.secretCopy.enabled }}  
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: secret-copy
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-20"
---
apiVersion: rbac.authorization.k8s.io/v1  
kind: ClusterRole  
metadata:  
  name: volcano-global-secret-copy
  annotations:  
    "helm.sh/hook": pre-install,pre-upgrade  
    "helm.sh/hook-weight": "-20"    
rules:  
  - apiGroups: [""]  
    resources: ["secrets"]  
    verbs: ["get", "list"]  
  - apiGroups: [""]  
    resources: ["secrets"]  
    verbs: ["create", "update", "patch", "delete"]  
---  
apiVersion: rbac.authorization.k8s.io/v1  
kind: ClusterRoleBinding  
metadata:  
  name: volcano-global-secret-copy
  annotations:  
    "helm.sh/hook": pre-install,pre-upgrade  
    "helm.sh/hook-weight": "-20"    
roleRef:  
  apiGroup: rbac.authorization.k8s.io  
  kind: ClusterRole  
  name: volcano-global-secret-copy  
subjects:  
  - kind: ServiceAccount  
    name: secret-copy
    namespace: {{ .Release.Namespace }}
---
apiVersion: batch/v1  
kind: Job  
metadata:  
  name: volcano-global-secret-copy  
  namespace: {{ .Release.Namespace }}  
  annotations:  
    "helm.sh/hook": pre-install,pre-upgrade  
    "helm.sh/hook-weight": "-10"  
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded  
spec:  
  template:  
    spec:  
      serviceAccountName: secret-copy
      restartPolicy: Never  
      containers:  
        - name: secret-copy  
          image: docker.io/beli/kubectl-shell:devel 
          imagePullPolicy: IfNotPresent
          command: ["/bin/bash"]
          args:
            - -c
            - |
              /usr/local/bin/kubectl get secret karmada-webhook-config -n karmada-system -o yaml > /tmp/secret.yaml

              sed -i 's/namespace: karmada-system/namespace: {{ .Release.Namespace }}/' /tmp/secret.yaml
              sed -i '/^  uid:/d' /tmp/secret.yaml
              sed -i '/^  resourceVersion:/d' /tmp/secret.yaml
              sed -i '/^  creationTimestamp:/d' /tmp/secret.yaml
              /usr/local/bin/kubectl apply -n {{ .Release.Namespace }} -f /tmp/secret.yaml

              echo "Secret copied successfully to {{ .Release.Namespace }}"
---
apiVersion: batch/v1
kind: Job
metadata:
  name: volcano-global-secret-delete
  annotations:
    "helm.sh/hook": pre-delete
    "helm.sh/hook-delete-policy": hook-succeeded
    "helm.sh/hook-weight": "-5"
spec:
  template:
    spec:
      serviceAccountName: secret-copy
      restartPolicy: Never
      containers:
      - name: secret-delete
        image: docker.io/beli/kubectl-shell:devel
        imagePullPolicy: IfNotPresent
        command: ["/bin/bash"]
        args:
          - -c
          - |
            /usr/local/bin/kubectl delete secret karmada-webhook-config -n {{ .Release.Namespace }}  --ignore-not-found=true

            echo "Secret deleted successfully"
{{- end }}
