name: Unit Tests

on:
  pull_request:
    branches:
      - main

jobs:
  unit-test:
    runs-on: ubuntu-24.04
    name: Run unit tests
    timeout-minutes: 30
    permissions:
      contents: read
    steps:
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24.x

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Cache Go modules
        uses: actions/cache@v4
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run unit tests
        run: make unit-test
